body{
    font-family: Helvetica, Arial, sans-serif;
  }
  .container{
    width: 50%;
    margin: 0 auto;
  }
  @keyframes load{
    from {
      width: 0%
    }
  }
  @-webkit-keyframes load{
    from {
      width: 0%
    }
  }
  @-moz-keyframes load{
    from {
      width: 0%
    }
  }
  @-o-keyframes load{
    from {
      width: 0%
    }
  }
  
  .bar{
    background-color: #EEE;
    padding: 2px;
    border-radius: 15px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #FFF;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  }
  .bar::before{
    content:  attr(data-skill);
    background-color:#fcd42b;
    display: inline-block;
    padding: 5px 0 5px 10px;
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;
  }
  
  .bar.front::before{
    background-color: #291b4f;
  }
  .bar.back::before{
    background-color: #a6cfe3;
  }
  
  .bar.learning::before{
    width: calc(20% - 10px);
  }
  .bar.basic::before{
    width: calc(40% - 10px);
  }
  .bar.intermediate::before{
    width: calc(60% - 10px);
  }
  .bar.advanced::before{
    width: calc(80% - 10px);
  }
  .bar.expert::before{
    width: calc(100% - 10px);
  }

  /* Add the following CSS block to your own
stylesheet. */
.lnr {
    display: inline-block;
    fill: currentColor;
    width: 1em;
    height: 1em;
    vertical-align: -0.05em;
  }
  
  .lnr-graduation-hat .lnr-bubble .lnr-graduation-hat .lnr-layers .lnr-laptop-phone .lnr-rocket{
    font-size: 40px;
  }   
  .p1-gradient-color, .single-services:hover .lnr {
    background: -moz-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    background: -ms-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .single-services {
    text-align: center;
    margin-top: 60px;
  }
  
  .single-services .lnr {
    font-size: 35px;
    color: #222;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .single-services h4 {
    margin-top: 30px;
    margin-bottom: 20px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .single-services p {
    max-width: 318px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  .single-services:hover h4 {
    color: #8490ff;
  }   